<!-- header.html -->
<style>
    .header {
        background: #2c3e50;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 30px;
        height: 97px;
        border-radius:10px;
    }
    .header h1 {
        font-family: 'Audiowide', sans-serif;
        color: #ecf0f1;
        font-size: 55px;
    }
 


    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 49;
        font-size: 31px;
    }

    .Lab {
        color: #e3f70b;
        font-size: 60px;
      }
</style>

<div class="header">
    <h1>Lab<span class="Lab">X</span>pert</h1>
</div>
   
   

